/* geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

.flex-container{
    position: relative;
}

textarea:focus, input:focus {
    outline: none;
}

a {
    font-size: .8rem;
}

a:hover {
    color: black;
    text-decoration: none;
}

label{
    font-size: 1.2em;
    margin-bottom: 8px;
}

/* container login */
#login-container {
    background-color:#fff ;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid #323232;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* formulário */
form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
    width: 100;
    text-align: left;
}

input {
    border: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    width: 100%;
}

input:focus {
    border-bottom: 2px solid #08558b;
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: gray;
    cursor: pointer;
}